.numbers
    background: $blue

    &__section
        display: flex
        flex-direction: wrap
        justify-content: space-around
        padding: 100px 0 100px 0

        +phones
            flex-direction: column
            align-items: center
            padding: 50px 0 50px 0

    &__item
        display: flex
        flex-wrap: wrap
        flex-direction: row
        align-items: center

        +phones
            justify-content: center

    &__icon
        margin-right: 25px

        img
            width: 50px
            height: 50px

        +phones
            magin: 0

            img
                max-width: 100%
                max-height: 100%

    &__discription
        color: $white

        h3
            margin-bottom: 0px
            font-weight: 500
            font-size: 21px
            line-height: 25px
        p
            margin-top: 0px
            font-size: 16px
            line-height: 26px
